{% extends "base.html" %}

{% block content %}
  <section class="stripe">
    <div class="container">
      <div class="col-md-6 m-auto">
        <form method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="flex-column d-flex">
            {% with messages = get_flashed_messages(with_categories=true) %}
	      {% if messages %}
	        {% for category, message in messages %}
		  {% if category == "error" %}
		    <div class="alert alert-danger">
		  {% else %}
		    <div class="alert alert-success">
		  {% endif %}
	            <p>{{ message }}</p>
	          </div>
		{% endfor %}
	      {% endif %}
	    {% endwith %}
            <h3>Let's get started</h3>
            <p>Create your account by filling the form below.</p>
	    <div class="row">
	      <div class="form-group col-12">
                {{ form.username.label(class_="control-label text-right") }}
                {{ form.username(class_="form-control") }}
                {% for error in form.username.errors %}
		  <span class="field-validation-error help-block">{{ error }}</span>
                {% endfor %}
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-12">
                {{ form.email.label(class_="control-label text-right") }}
                {{ form.email(class_="form-control") }}
                {% for error in form.email.errors %}
		  <span class="field-validation-error help-block">{{ error }}</span>
		{% endfor %}
	        <small class="text-muted">You use this email to sign in to your account.</small>
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-12">
                {{ form.company.label(class_="control-label text-right") }}
                {{ form.company(class_="form-control", placeholder="e.g. ACME Co.") }}
                {% for error in form.company.errors %}
		  <span class="field-validation-error help-block">{{ error }}</span>
                {% endfor %}
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-12">
                {{ form.password.label(class_="control-label text-right") }}
                {{ form.password(class_="form-control") }}
                {% for error in form.password.errors %}
		  <span class="field-validation-error help-block">{{ error }}</span>
		{% endfor %}
	      </div>
	    </div>
	    <div class="row">
	      <div class="form-group col-12">
                {{ form.password2.label(class_="control-label text-right") }}
                {{ form.password2(class_="form-control") }}
                {% for error in form.password2.errors %}
		  <span class="field-validation-error help-block">{{ error }}</span>
                {% endfor %}
	      </div>
	    </div>
	  </div>
	  <div class="flex-row-reverse d-flex justify-content-between">
	    {{ form.submit(class_="btn btn-success") }}
	  </div>
	</form>
      </div>
    </div>
  </section>
{% endblock %}
