[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

"flake8" = "*"
pytest = "*"
Flask-Testing = "*"
fakeredis = "*"
coverage = "*"


[packages]

Flask = "*"
Flask-Login = "*"
gunicorn = "*"
Flask-WTF = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Mail = "*"
PyJWT = "*"
rq = "*"
pycryptodome = "*"
humanize = "*"
python-dotenv = "*"
Flask-Admin = "*"
itsdangerous = "*"


[requires]

python_version = "3.4"
