[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
pytest = "*"
flask-testing = "*"
fakeredis = "*"
coverage = "*"
mock = "*"

[packages]
flask = "*"
flask-login = "*"
gunicorn = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
pyjwt = "*"
rq = "*"
pycryptodome = "*"
humanize = "*"
python-dotenv = "*"
flask-admin = "*"
itsdangerous = "*"
"psycopg2" = "*"

[requires]
python_version = "3.4"
