<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="author" content="openf1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Sign In - openf1</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/font-awesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/featherlight.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/lib.min.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/portal.min.css') }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="/#" />
</head>
