{% extends "application/base.html" %}

{% block content %}
  <div id="title" class="stripe stripe-white">
    <div class="container">
      <h5 class="font-weight-normal m-0">{{ title }}</h5>
    </div>
  </div>
  <section class="stripe">
    <div class="container">
      <form method="post" novalidate>
        {{ form.hidden_tag() }}
      	<div class="row">
          <div class="col-md-6 mb-4">
            <div class="form-group">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
		  {% for category, message in messages %}
		    {% if category == "error" %}
                      <div class="alert alert-danger">
		    {% else %}
                      <div class="alert alert-success">
		    {% endif %} 
		      <p>{{ message }}</p>
		    </div>
		  {% endfor %}
	        {% endif %}
	      {% endwith %}
	      {{ form.name.label(for="ApplicationName") }}
	      {{ form.name(class="form-control") }}
              {% for error in form.name.errors %}
	        <span class="field-validation-error help-block">{{ error }}</span>
	      {% endfor %}
	    </div>
	    <div class="form-group">
	      {{ form.description.label(for="ApplicationDescription") }}
	      {{ form.description(class="form-control") }}
              {% for error in form.description.errors %}
	        <span class="field-validation-error help-block">{{ error }}</span>
	      {% endfor %}
	      <small class="text-muted">(optional)</small>
	    </div>
	    <div class="col-xs-3" role="group">
	      <button type="submit" value="Create" class="btn btn-success">Create Application</button>
            </div>
	  </div>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
